.users {
    background-color: greenyellow;
    box-shadow: 3px 3px #b4b4b4;
    margin-bottom: 5px;
    text-align: center;
    color: black;
    cursor: pointer;
} 



.users:hover {
    background-color: #f4ffe9;
}